# {{ ansible_managed }}
[commands]
#  What kind of update to use:
# default                            = yum upgrade
# security                           = yum --security upgrade
# security-severity:Critical         = yum --sec-severity=Critical upgrade
# minimal                            = yum --bugfix update-minimal
# minimal-security                   = yum --security update-minimal
# minimal-security-severity:Critical =  --sec-severity=Critical update-minimal
update_cmd = {{ shhirose_yum-cron_daily.update_cmd }}

# Whether a message should be emitted when updates are available,
# were downloaded, or applied.
update_messages = {{ shhirose_yum-cron_daily.update_messages }}

# Whether updates should be downloaded when they are available.
download_updates = {{ shhirose_yum-cron_daily.download_updates }}

# Whether updates should be applied when they are available.  Note
# that download_updates must also be yes for the update to be applied.
apply_updates = {{ shhirose_yum-cron_daily.apply_updates }}

# Maximum amout of time to randomly sleep, in minutes.  The program
# will sleep for a random amount of time between 0 and random_sleep
# minutes before running.  This is useful for e.g. staggering the
# times that multiple systems will access update servers.  If
# random_sleep is 0 or negative, the program will run immediately.
# 6*60 = 360
random_sleep = {{ shhirose_yum-cron_daily.random_sleep }}


[emitters]
# Name to use for this system in messages that are emitted.  If
# system_name is None, the hostname will be used.
system_name = {{ shhirose_yum-cron_daily.system_name }}

# How to send messages.  Valid options are stdio and email.  If
# emit_via includes stdio, messages will be sent to stdout; this is useful
# to have cron send the messages.  If emit_via includes email, this
# program will send email itself according to the configured options.
# If emit_via is None or left blank, no messages will be sent.
emit_via = {{ shhirose_yum-cron_daily.emit_via }}

# The width, in characters, that messages that are emitted should be
# formatted to.
output_width = {{ shhirose_yum-cron_daily.output_width }}


[email]
# The address to send email messages from.
# NOTE: 'localhost' will be replaced with the value of system_name.
email_from = {{ shhirose_yum-cron_daily.email_from }}

# List of addresses to send messages to.
email_to = {{ shhirose_yum-cron_daily.email_to }}

# Name of the host to connect to to send email messages.
email_host = {{ shhirose_yum-cron_daily.email_host }}


[groups]
# NOTE: This only works when group_command != objects, which is now the default
# List of groups to update
group_list = {{ shhirose_yum-cron_daily.group_list }}

# The types of group packages to install
group_package_types = {{ shhirose_yum-cron_daily.group_package_types }}

[base]
# This section overrides yum.conf

# Use this to filter Yum core messages
# -4: critical
# -3: critical+errors
# -2: critical+errors+warnings (default)
debuglevel = {{ shhirose_yum-cron_daily.debuglevel }}

{% if shhirose_yum-cron_daily.skip_broken is defined %}
skip_broken = {{ shhirose_yum-cron_daily.skip_broken }}
{% endif %}
mdpolicy = {{ shhirose_yum-cron_daily.mdpolicy }}

# Uncomment to auto-import new gpg keys (dangerous)
{% if shhirose_yum-cron_daily.assumeyes is defined %}
assumeyes = {{ shhirose_yum-cron_daily.assumeyes }}
{% endif %}
